body, article.markdown-body {
  color: #dadada;
  background: #272935;
}

pre, pre span {
  background: black !important;
  color: violet !important;
}

code {
  background: black !important;
}

blockquote {
  color: skyblue !important;
}

tr {
  background: #272935 !important;
}

a {
  color: springgreen;
}

.markdown-body img {
  background: #272935;
}

#readme .Box-body {
  background: #272935 !important;
}
