header {
  display: none;
}

#readme {
  position: absolute;
  top: 0;
  border: none;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.Box-header, .pagehead-actions, .pagehead, .footer, .signup-prompt, .BorderGrid {
  display: none !important;
}
