body {
  position: relative;
  min-width: 100vw !important;
  max-width: 1200px !important;
}

header {
  display: none;
}

#readme {
  position: absolute;
  top: 0;
  border: none;
}

.Box-header, .pagehead-actions, .pagehead, .footer {
  display: none !important;
}
