header {
  display: none;
}

#readme {
  position: absolute;
  top: 0;
  border: none;
  margin: 0;
  padding: 0;
}

.Box-header, .pagehead-actions, .pagehead, .footer, .signup-prompt, .BorderGrid, .hide-full-screen {
  display: none !important;
}
